<main class="content-view flex-fill">
	<% if @piece %>
	<div class="content-frame">
		<div class="hanging-nav">
			<ul class="hanging-list">
				<% @topic.pieces.each do |piece| %>

				<li class="hanging-tab">
					<span class="tab-text">
						 <%= piece.proper_date %>
					</span>
				</li>
				<% end %>
			</ul>
			<div class="topic-tab">
				<%= @topic.name %>
			</div>
		</div>
		<div class="preview">
			<div class="title-show">
				<span class="title">
					<%=@piece.title  %>
				</span>
			</div>
			<div class="preview-show">
						<span class="preview-text">
							<%= @text %>...
						</span>
			</div>
			<div class="go">
				<%= link_to "Read", "/pieces/#{@piece.id}" %>
			</div>
		</div>
	</div>
	<% end %>
</main>